<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="utils.ItestListener" />
	</listeners>
	<test name="TestOnChrome">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="test.testCases.SearchPageTestCases" />
<!-- 			<class name="test.testCases.SearchPageTestCasesOne"/> -->
<!--  			<class name="test.testCases.retryFailedDemo"/> -->
		</classes>
	</test>

<!-- 	<test name="TestOnFireFox"> -->
<!-- 		<parameter name="browserName" value="firefox"></parameter> -->
<!-- 		<groups> -->
<!-- 			<define name="regression1"> Define a new group in testNg xml by including already existing groups -->
<!-- 				<include name="regression"></include> -->
<!-- 				<include name="smoke"></include> -->
<!-- 			</define> -->
<!-- 			<run> -->
<!-- 				<exclude name="classOneTests"></exclude>  -->
<!-- 				<exclude name="regression"></exclude> -->
<!-- 				<include name="sanity"></include> -->
<!-- 			</run> -->
<!-- 		</groups> -->
<!-- 		<classes> -->
<!-- 			<class name="test.testCases.SearchPageTestCases" /> -->
<!-- 			<class name="test.testCases.SearchPageTestCasesOne"/> -->
<!-- 		</classes> -->
<!-- 	</test> Test -->
</suite> <!-- Suite -->